@font-face {
  font-family: 'GCOSans';
  src: url('/fonts/GCOSans.woff2') format('woff2'),
       url('/fonts/GCOSans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GCOSans';
  src: url('/fonts/GCOSans-Italic.woff2') format('woff2'),
       url('/fonts/GCOSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GCOSans';
  src: url('/fonts/GCOSans-Medium.woff2') format('woff2'),
       url('/fonts/GCOSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GCOSans';
  src: url('/fonts/GCOSans-MediumItalic.woff2') format('woff2'),
       url('/fonts/GCOSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GCOSans';
  src: url('/fonts/GCOSans-Bold.woff2') format('woff2'),
       url('/fonts/GCOSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GCOSans';
  src: url('/fonts/GCOSans-Bold.woff2') format('woff2'),
       url('/fonts/GCOSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GCOSans';
  src: url('/fonts/GCOSans-BoldItalic.woff2') format('woff2'),
       url('/fonts/GCOSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
